## 端口，若与properties重复则以properties为主
server:
  port: 8089

# redis
#spring:
#  redis:
#    password:
#    cluster:
#      nodes: 192.168.1.111:7111,192.168.1.112:7112,192.168.1.113:7113
#      max-redirects: 3
##    lettuce:
#    jedis:
#      pool:
#        max-idle: 16
#        max-active: 32
#        min-idle: 8

spring:
  redis:
#    database: 0
#    password:
    cluster:
      nodes: 192.168.1.111:7111,192.168.1.112:7112,192.168.1.113:7113
      max-redirects: 3
#    host: 192.168.1.13
#    port: 6379
